.home-page {
    overflow: hidden;
}

.navbar {
    width: 100%;
    border: 1px red solid;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navbar-logo {
    width: 50px;
}

.navbar-search-logo {
    width: 50px;
    align-items: flex-end;
    justify-content: flex-end;
}

.video {
    width: 100%;
    aspect-ratio: 16/10;
}

.video-details-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.channel-pic {
    height: 40px;
    width: 40px;
    background-color: #000000;
    border-radius: 50%;
    display: inline-block;
    display: flex;
    align-items: center;
}

.video-details {
    display: flex;
    flex-direction: column;
}

.video-title {
    margin: 0px;
}

.video-subtitle {
    margin: 0px;
    font-weight: normal;
}

.three-dots {
    height: 30px;
}

.shorts-details-container {
    border: 1px red solid;
    display: grid;
    grid-template-columns: auto auto;
    gap: 3px;
}

.short {
    width: 100%;
    aspect-ratio: 10/16;

}